# Node.js dependencies
node_modules
.pnpm-store
dist
build

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS and editor-specific files
.DS_Store
Thumbs.db
*.swp
*.swo
*.swn
*.bak
.next

# Git and version control
.git
.gitignore

# Docker files
Dockerfile
.dockerignore

# Environment files
.env
.env.local
.env.*.local

# Misc
coverage
*.tgz
.idea
.vscode
